{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить видео</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <h2>Добавить видео</h2>

    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        Название: <input type="text" name="title"><br>
        Описание: <input type="text" name="description"><br>
        Файл видео: <input type="file" name="file"><br>

        Пользователь:
        <select name="user_id">
            {% for u in users %}
                <option value="{{ u.id }}">
                    {{ u.first_name }} {{ u.last_name }}
                </option>
            {% endfor %}
        </select><br>

        <a href="{% url 'user_list' %}"><button type="submit">Сохранить</button></a>
    </form>

    <a href="{% url 'video_list' %}">Назад к списку видео</a>

</body>
</html>
